@page "/timer"


<div>
    @foreach (var timer in _timers)
    {
        <div class="container">
            <div class="row">
                @*<div class="col-auto ">
                    <div class="row">
                        <button type="button" class="btn btn-dark btn-sm" disabled="@(timer.Index == 0)" @onclick="() => Move(timer.Index, -1)">
                            <span class="oi oi-arrow-circle-top mr-2    " aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-dark btn-sm" disabled="@(timer.Index == _timers.Count - 1)" @onclick="() => Move(timer.Index, 1)">
                            <span class="oi oi-arrow-circle-bottom mr-2" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>*@
                <div class ="col"><Timer TimerEntity="@(timer)"></Timer></div>
            </div>
            
        </div>
        
    }
    <button type="button" class="btn btn-primary mb-30" @onclick="AddTimer">
        <span class="oi oi-plus mr-2" aria-hidden="true"></span>Add another timer
    </button>
</div>



@code {
    private List<TimerVm> _timers;
    private int Count { get; set; }

    protected override void OnInitialized()
    {
        _timers = new() { new(0, "Timer 1", 120, "") };
    }

    private void AddTimer()
    {
        _timers.Add(new(_timers.Count, $"Timer {_timers.Count + 1}", 120, ""));
    }

    private void Move(int index, int correlation)
    {
        var tmp = _timers[index + correlation];
        tmp.Index -= correlation;
        _timers[index].Index += correlation;
        _timers[index + correlation] = _timers[index];
        _timers[index] = tmp;
    }
}
